/* DoctorPortal.module.css */

.portalContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--color-secondary);
    padding-left: 0.4rem;
}

.topBar {
    background-color: var(--color-secondary);
    padding: 0.3rem 0 0.3rem;
    margin-bottom: 0.5rem;
}

.topLeftBrand {
    color: var(--color-primary);
    font-family: var(--font-family-base);
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding-left: 0.7rem;
}

.brandIcon {
    font-size: 2.2rem !important;
    color: var(--color-accent);
}

.contentContainer {
    flex: 1 1 auto;
    display: flex;
}

.mainContainer {
    background-color: #edf5f8;
    width: 100%;
    padding-left: 0.4rem;
    border-radius: 0.4rem;
}

.overviewContainer {
    padding: 0.3rem;
    font-weight: lighter;
    color: var(--color-tertiary);
}
