/* Global Styles */

@import './variables.css';

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base Styles */
body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    background: var(--color-primary);
    color: var(--color-secondary);
    line-height: 1.5;
}
